<div id = 'headerMenu'>
    <a href="/posts/all-posts"><button>Posts</button></a>
    <a href="/posts/stats"><button>Stats</button></a>
    <a href="/posts/current-user"><button>My Account</button></a>
</div>