<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        body{
            background: linear-gradient(lightseagreen, black);
            height: 100vh;
        }
        #edit *{
            display: block;
            text-align: center;
            margin: 0 auto;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <form action="/posts/<%=post.id%>?_method=put&currPage=<%=currPage%>" method="POST">
        <%-include('./partials/headerPartial')%>
        <div id = edit>
        <h1>Edit Post</h1>
        <textarea name="body"cols="30" rows="10"><%=post.body%></textarea>
        <input type="submit" value="submit change">
         </div>
    </form>
</body>
</html>